doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kitchen
    link(rel="stylesheet", href="style.css")
  body 
    section.section
      .text-box
        h1.text-box__main-text 1 day at the price of 23$
        p.text-box__bottom-text Make orders, take part in promotions, recommend us to friends or connect recommend us to friends or connect 
        button.text-box__button Sign up
      img.section__plate-image(src="./img/plate.png", alt="")
      img.section__vegs-image(src="./img/salad.png", alt="")